.slick-prev:before,
.slick-next:before {
    color: $mainGreen !important;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-R.ttf') format('truetype');
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #333;
    background-color: rgba(255, 255, 255, .8);
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}
