        .icon {
            background-image: url('/assets/images/sprites/sprite-b1d799d5.svg');
        }
    .icon--SAV {
        width: 112.465px ;
        height: 97px ;
        
        background-position: 0 0 ;
    }
    .icon--ic_directions_black_24px {
        width: 30px ;
        height: 30px ;
        
        background-position: 76.50680272108843% 39.083969465648856% ;
    }
    .icon--ic_email_black_24px {
        width: 64px ;
        height: 51.2px ;
        
        background-position: 99.52654867256638% 0 ;
    }
    .icon--ic_location_on_black_24px {
        width: 21px ;
        height: 30px ;
        
        background-position: 91.32371794871794% 39.083969465648856% ;
    }
    .icon--ic_message_black_24px {
        width: 64px ;
        height: 64px ;
        
        background-position: 0 100% ;
    }
    .icon--ic_phone_black_24px {
        width: 30px ;
        height: 30px ;
        
        background-position: 87.07482993197279% 74.04580152671755% ;
    }
    .icon--ic_star_black_24px {
        width: 64px ;
        height: 60.8px ;
        
        background-position: 56.63716814159292% 96.8063872255489% ;
    }
