.btn {
    background-color: $mainBlue;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    border-radius: 1.25rem;
    margin-bottom: .75rem;
    box-shadow: 0 0.20rem rgba($mainOrange, .7);

    &--special {
        font-size: 1rem;
    }
    &--red {
        background-color: $mainOrange;
    }
    &--large {
        border-radius: 1.875rem;
        box-shadow: 0 0.25rem rgba($mainBlue, .7);
        font-size: 0.75rem;
        margin-top: 2rem;

        @mixin atMedium {
            padding: 1.1rem 1.9rem;
            font-size: 1.25rem;
        }
    }
}

/* Effect on hover */
.btn:hover {
    top: 0.125rem;
    box-shadow: 0 0.120rem rgba($mainOrange, .7);
}

.btn--large:hover {
    top: 0.125rem;
    box-shadow: 0 0.125rem rgba($mainBlue, .7);
}


/* Effect when active */
.btn:active {
    top: 3px;
    box-shadow: none;
}

.btn--large:active {
    top: 3px;
    box-shadow: none;
}