.headline {
    font-size: 1.2rem;
    font-weight: 300;
    color: $mainBlue;

    &--no-t-pad {
        margin-top: 0;
    }

    @mixin atSmall {
        font-size: 2.875rem;
    }
    &--centered {
        text-align: center;
    }
    &--orange {
        color: $mainOrange;
    }
    &--small {
        font-size: 1.2rem;
        @mixin atSmall {
            font-size: 1.875rem;
        }
    }

    &--scale {
        transform: scale(0.7);
        transition: scale .3s ease-out;
        margin: 0;
        margin-bottom: 0 !important;
        @mixin atMedium {
            transform: scale(1);
            transform-origin: bottom right;
            margin: 2.5rem;
            margin-bottom: 2.5rem !important;
        }
    }

    /* strong {
        font-weight: 600;
    } */

    &--narrow {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        padding: 0.3rem;
    }
    &--light {
        font-weight: 100;
    }
    &--b-margin-small {
        margin-bottom: .5em;
    }
    &--b-margin-large {
        margin-bottom: 1.6em;
    }
    &--no-t-margin {
        margin-top: 0;
    }
}