.page-section {
    padding: 1.2rem 0;
    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--top-margin {
        margin-top: 3rem;
    }

    &__blue {
        background-color: $mainGreen;
        color: #fff;
    }
    &--testimonials {
        background-color: rgba(255, 255, 255, .8);

        @mixin atLarge {
            &.lazyloaded {
                background: url('../../assets/images/testimonial-bg-img.jpg') top center no-repeat;
                background-size: cover;
            }
        }
    }
    &--no-b-pad-until-medium {
        padding-bottom: 0;
        @mixin atMedium {
            padding-bottom: 4.5rem;
        }
    }
    &--no-t-pad {
        padding-top: 0;
    }
    &--no-b-pad-until-large {
        padding-bottom: 0;
        @mixin atLarge {
            padding-bottom: 4.5rem;
        }
    }
}