.page-section {
    padding: 1.2rem 0;
    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--top-margin {
        margin-top: 3rem;
    }

    &__blue {
        background-color: #34675c;
        color: #fff;
    }
    &--testimonials {
        background-color: rgba(255, 255, 255, .8);
    }
    &--no-b-pad-until-medium {
        padding-bottom: 0;
        @mixin atMedium {
            padding-bottom: 4.5rem;
        }
    }
    &--no-b-pad-until-large {
        padding-bottom: 0;
        @mixin atLarge {
            padding-bottom: 4.5rem;
        }
    }
}