.social-icons {
    text-align: center;
    a {
        text-decoration: none;
    } 

    &__icon {
        background-color: #34675c;
        display: inline-block;
        margin: 0 5px;
        width: 36px;
        height: 36px;
        position: relative;

        .icon {
            display: block;
            color: $mainOrange;
            position: absolute;
            transform: translate(15%, 7%);
        }

        .icon--more-x {
            transform: translate(45%, 8%);
        }
    }
}